<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <strong><em>{{description}}</em></strong>
    {{>footer}}
</body>
</html>