<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>{{title}}</h1>
    <strong><em>{{description}}</em></strong>
</body>
</html>